<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "WebSite",
      "@id": "https://www.whatcable.uk/#website",
      "url": "https://www.whatcable.uk/",
      "name": "WhatCable",
      "publisher": {
        "@id": "https://www.whatcable.uk/#publisher"
      }
    },
    {
      "@type": "Organization",
      "@id": "https://www.whatcable.uk/#publisher",
      "name": "Bitmoor",
      "url": "https://www.bitmoor.co.uk",
      "founder": {
        "@type": "Person",
        "name": "Darryl"
      }
    }
  ]
}
</script>
